*{
    padding: 0;
    margin: 0;
}
.header{
    background-color:#F38E59;
    list-style-type: none;
}
.header-logo{
    display: flex;
    padding-left: 255px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   position: absolute;
  margin-left: 30%;
}
.nav-item{
    padding: 30px;
    list-style-type: none;  
}
.nav-item a{
    text-decoration: none;
    color:#FFFFFF;
}
.nav-btn{
    list-style-type: none;
}
.right{
    padding-top: 10px;
    
}
.right .btn-left{
    background-color: black;
    border-radius: 10px;
    position: absolute;
    right:0;
    margin: 15px 200px;
    list-style-type: none; 
    padding: 15px 30px;
    }
    .btn-left a{
        color: aliceblue;
        text-decoration: none;
        font-size: 12px; 
        font-family: sans-serif;
        font-weight: 800;
    }
    .btn-left a:hover{
        color: #F38E59;
    }
    .btn-left:hover{
        opacity: 0.4;
        transition: 0.4s all ease;
        cursor: pointer;
    }

    .right .btn-right{
        border: aliceblue solid 2px;
        border-radius: 10px;
        position: absolute;
        right: 0;
        margin: 17px 65px;
        list-style-type: none;
        padding: 12px 30px;
    } 
    .btn-right:hover{
        opacity: 0.4;
        transition: 0.4s all ease;
        cursor: pointer;
    }
    .btn-right a{
        color: aliceblue;
        text-decoration: none;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: 800;
    }
    .titre h1 {
        text-align: center;
        padding-top: 10%;
        color: #FFFFFF;
        font-family: Verdana, sans-serif;
        font-size: 50px;
    }
    .titre p {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 5%;
        font-size: 20px;
        font-family: Verdana,sans-serif;
        opacity: 70%;
    }
    a:hover{
        color: #000;
    }

    .information{
        display: flex;
        flex-wrap: wrap;
        column-gap: -10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 50px;
        
    }
    .section{
        padding-left: 200px;
    }
    .reach-out h2{
        color: #5BB5E0;
        padding-left: 50px;
        padding-top: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .reach-out p{
        padding-left: 50px;
        padding-top: 30px;
        opacity: 80%;
        font-size: 20px;
        font-family: sans-serif;
    }
    .formulaire{
        flex: 1 1 200px;
        column-gap: 100px;
        margin: 50px;
    }
    input{
        width: 70%;
        padding-bottom: 15px;
        padding-top: 17px;
        padding-left: 30px;
        margin-bottom: 35px;
        border-radius: 10px;
        border-style: solid;
        opacity: 0.4 ;
    }
    #msg{
        padding-bottom: 170px;
    }
    .button button{
    background-color: #F38E59;
    border-radius: 5px;
    position: absolute;
    border: none ;
    right:0;
    margin-right: 50%;
    list-style-type: none; 
    padding: 20px 50px;
    color:#ffffff;
    font-size: 12px; 
    font-family: sans-serif;
    font-weight: 800;
    }
    .article{
        padding-left: 60% ;
        margin-top: -840px ;
    }
    .article a{
        text-decoration: none;
        color: #F7A66C;
    }
    .lander-team h2{
        color: #5BB5E0;
        padding-left: 50px;
        padding-top: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .lander-team p{
        padding-left: 50px;
        padding-top: 18px;
        opacity: 80%;
        font-size: 20px;
        font-family: sans-serif;
    }

    #article-title{
        color: #000;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: 500;
        opacity: 70%;
        padding-top: 17px;
        padding-left: 30px;
        margin-bottom: 30px;
    }
    .Facebook img{
        padding-top: 17px;
        padding-left: 30px ;

    }
    .Facebook p{
        margin-top: -63px;
        padding-left: 120px ;
        margin-bottom: 20px;
    }
    .twiter img{
        padding-top: 17px;
        padding-left: 30px ;
    }
    .twiter p{
        margin-top: -63px;
        padding-left: 120px ;
        margin-bottom: 20px;
    }
    .linkedin img{
        padding-top: 17px;
        padding-left: 30px ;
    }
    .linkedin p{
        margin-top: -63px;
        padding-left: 120px;
        margin-bottom: 20px;
    }
    .other{
        margin-top: 40px;
    }
    article a:hover{
        color:#e9b48e ;

    }
    .pre-footer {
        display: flex;
        flex-direction: row;
    }
    
    .form-wrap {
        display: flex;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .parent-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #404040;
    }
    
    .child-1{
        flex: 1 1 150px;
        margin: 20px;
        padding-left: 35pt;
        padding-right: 35pt;
       
    }
    
    .child-1 p {
        cursor: pointer;
        padding: 10px;
        color:#8F8F8F;
        line-height: 1;
        font-weight: 300
        
    }
    #whitecolor{
        color: #FEFEFC;
    }
    .socialmedia-icons{
        list-style: none;
        color: #F99968;
        height: 5px;
        cursor: pointer;
    }
    .child-1 button{
  
        padding: 13px;
        margin-bottom: 12pt;
        background-color:#032030;
        color: #FEFEFC;
        border-radius: 5pt;
    }
    .child-1 button:hover {
      background-color: #F99968;
    }
    .final {
     font-family: Arial, Helvetica, sans-serif;
      display: block;
      padding: right 12pt;;
      width: 100%;
      color:#FFFFFF99;
      background-color: #333232;
    }
    .orange2{
        color:  #AD7D64;
    }
    



    